@import url('non.geist');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Geist Variable';
}

body {
  overflow-x: hidden;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
}

textarea {
  resize: none;
}

button:disabled {
  cursor: not-allowed;
}


h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  font-weight: 200;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

@media screen and (max-width: 1024px) {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 15px;
  }
}

@media screen and (max-width: 430px) {

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }
}